.wrapper{
     width: 100%;
     border-radius: 8px;
     background: rgb(255,255,255);
     max-height: min((100vh - 96px ) - 60px, 734px);
     min-height: 100px;
     box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
     opacity: 1;
}
